@import '../variable.scss';
.infodetail{
    // background-color: $DEFAULT_BACKGROUND;
    &>div:nth-child(2){
        padding: rem(51.5px) rem(15px) rem(15px) rem(15px);
        background-color: $BACKGROUND;
        &>h2{
            font-size: rem(16.5px);
            margin-bottom: rem(7.5px);
            line-height: 1.4;
            color: $FONT_COLOR;
        }
        &>p{
            font-size: rem(13.5px);
            color: $LIGHT_FONT_COLOR;
        }
    }

    &>div:last-child{
        width: 100%;
        font-size: rem(14px);
        background-color: transparent;
        text-indent: rem(37.5px);
        line-height: rem(25px);
        padding: 0 rem(10px);
        p{
            color: $FONT_COLOR;
        }
        img{
            width: 100%!important;
            display: block;
        }
    }
}
