@import '../variable';

.accountSet{
  background-color: $BACKGROUND;
  height: 100%;
  padding-top: rem(44px);
  .beforeLogin{
    justify-content: center;
  }

  .afterLogin{
    // padding-left: rem(10px);
  }
  .topButtonBoxs{
    display: flex;
    font-size: rem(14px);
    
    flex-wrap: wrap;
    >a{
      display: flex;
      // flex:1;
      width: 33%;
      margin-top: rem(20px);
    }
    .home-quota{
      flex-direction: column;
      .image{
        // background: #FFA019;
      }
      
    }
    .home-invite{
      flex-direction: column;
      .image{
        // background: #6A77EF;
      }
    }
    .home-live{
      flex-direction: column;
      .image{
        // background: #F47859;
      }
    }
    .home-cs{
      flex-direction: column;
      .image{
        // background: #04D1CC;
      }
    }
    .text{
      color: $FONT_COLOR;
      align-self: center;
      margin-top: rem(5px);
      font-size: rem(14px);
    }
    .imageSize{
      width: rem(30px);
      height: rem(30px);
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: rem(40px);
      
      svg{
        fill:$HEADER_COLOR;
      }
    }
  }
  .top{
    // padding-top: rem(55px);
    // background-image: url("../images/my-bg.png");
    background: $HEADER_COLOR;
    height: rem(100px);
    display: flex;
    align-items: center;
    div{
      // width: 100%;
      // text-align: center;
      // margin-bottom: rem(10px);
      img{
        width: 20%;
      }
    }
    a{
      // display: block;
      // text-align: center;
      color: $WHITE;
      font-size: rem(14px);
      // margin-bottom: rem(15px);
    }
    .settingBox{
      display: flex;
      width: 100%;
      .dataList{
        width: 100%;
        margin: 0 rem(10px);
        div{
          display: flex;
          align-self: center;
        }
        li{
          display: flex;
          width: 100%;
          height: rem(40px);
          justify-content: space-between;
          font-size: rem(16px);
          .balanceBox{
            display: flex;
            div{
              margin-left: rem(10px);
            }

            div:last-child{
              background: $WHITE;
              padding: rem(5px);
              color: $ACTIVE_COLOR;
            }
          }
        }
      }
      .userNameBox{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        a:first-child{
          margin-bottom: rem(5px);
        }
      }
      .settingBox-changePassword{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: rem(10px);
        img{
          height: rem(40px);
        }
        .settingBox-changePassword-iconBox{
          width: rem(20px);
          .svg{
            fill: $WHITE;
          }
          // height: rem(20px);
        }
      }
    }
    
    
  }
  .loginAfter{
    width: 100%;
    // height: rem(110px);
    // margin: auto;
    // border-radius: rem(10px);
    margin-bottom: rem(10px);
    padding: rem(20px) 0;
    // overflow: hidden;
    background-color: $DARK_BACKGROUND;
    .balanceBox{
      // background: linear-gradient(to bottom,#EE710F, #EB590C);
      flex-direction: column;
      display: flex;
      margin-left: rem(10px);
      margin-top: rem(10px);
      margin-right: rem(10px);
      >div{
        font-size: rem(18px);
        color: $LIGHT_FONT_COLOR;
        align-self: flex-start;
      }
      .balance{
        color: $WHITE;
        font-size: rem(34px);
        padding: rem(5px) 0;
      }
      .balanceBox-bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }
    .buttonBox{
      display: flex;
      background: $PURPLE;
      border-radius: 4px;
      height: rem(36px);
      
      >div{
        flex: 1;
        font-size: rem(18px);
        padding: rem(11px);
        color: $WHITE;
        align-self: center;
        text-align: center;
        // border-left: 1px solid #EE5D32;
      }
    }
  }
  .commentBox{
    padding-top: rem(55px);
    textarea{
      color: $FONT_COLOR;
      font-size: rem(14px);
      width: 100%;
      height: rem(60px);
      padding: rem(10px);
    }
    .tips{
      background: $LIGHT_GRAY_BACKGROUND;
      color: $HEADER_COLOR;
      font-size: rem(14px);
      height: rem(30px);
      display: flex;
      align-items: center;
      padding-left: rem(20px);
    }
    .inputData{
      padding: 0 rem(20px);
      background: $WHITE;
      div{
        font-size: rem(14px);
      }
      .inputBox{
        display: flex;
        align-items: center;
        padding: rem(20px) 0;
        input{
          color: $FONT_COLOR;
          font-size: rem(14px);
          width: 100%
        }
        span{
          min-width: rem(100px);
          color: $FONT_COLOR;
        }
      }
    }
    .submit{
      background: $HEADER_COLOR;
      color: $WHITE;
      font-size: rem(14px);
      width: 90%;
      margin: 0 auto;
      border-radius: 10px;
      height: rem(40px);
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: rem(10px);
    }
  }
  .list{
    padding: 0 rem(10px);
    a{
      display: flex;
      // border-top: 1px solid $LIGHT_LINE;
      padding: rem(12px)  rem(5px) ;
      justify-content: space-between;
      .listLeft, .listRight{
        display: flex;
        justify-content: end;
        align-self: center;
        div{
          font-size: rem(14px);
          color: $LIGHT_LIGHT_FONT_COLOR;
          align-self: center;
          justify-content: center;
         
          span{
            justify-self: center;
            align-self: center;
            font-size: rem(12px);
            color: #999;
          }
        }
        .arrow{
          justify-content: center;
          align-self: center;
          width: rem(35px);
          height: rem(40px);
          fill: $ORANGE;
          margin: 0 rem(5px);
        }
      }
      .listRight{
        span{
          color: $ORANGE;
          font-size: rem(14px);
        }

        .idBox{
          span{
            display: block;
            text-align: right;
          }
        }
      }
      &:last-child{
        // border-bottom: 1px solid $LIGHT_LINE;
      }
    }
  }
  .button{
    width: 100%;
    display: inline-block;
    font-size: rem(14px);
    //border-radius: rem(4px);
    margin: rem(40px) 0 rem(15px);
    div{
      width: 80%;
      margin: auto;
      text-align: center;
      color: #FFFFFF;
      background: $HEADER_COLOR;
      padding:rem(13px);
      border-radius: rem(10px);
    }
  }
}