@import "../variable";
/**
底部拦样式
 */
footer{
  position: fixed;
  bottom: 0;
  height: rem(58px);
  width: 100%;
  display: flex;
  flex: 5;
  // border-top: 1px solid #ededed;
  z-index: 1;
  background: $WHITE;
  a {
    flex: 1;
    text-align: center;
    align-self: center;
    height: inherit;
    line-height: rem(58px);
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    font-size: 0;
    position: relative;
    .text {
      height: rem(15px);
      line-height: rem(15px);
      font-size: rem(12px);
      margin: rem(3px) 0;
      color: #C7C7C7;
    }
    .iconStyle {
      width: rem(28px);
      height: rem(28px);
    }
    .home, .trend, .tv, .mine{
      fill: #C7C7C7;
      background: transparent;
    }
    .news{
      height: rem(26px);
      width: rem(26px);
    }
  }
  .footActive{
    .home, .trend, .tv, .mine{
      fill: $HEADER_COLOR
    }
    span{
      color: $HEADER_COLOR;
    }
  }
}