@import '../variable';

.header{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: rem(5px) rem(10px);
    height: rem(44px);
    color: #333;
    background: $HEADER_COLOR;
    justify-content: center;
    z-index: 99;
    // border-bottom: 1px solid #D8D2D2;
    .backTag{
        position: absolute;
        width: rem(40px);
        left: rem(10px);
        display: flex;
        .arrow{
            fill: $WHITE;//#CCCCCC;
            width: rem(26px);
            align-self: center;
            justify-content: center;
        }
    }

    .title{
        text-align: center;
        font-size: rem(16px);
        line-height: rem(30px);
        align-self: center;
        color: $FONT_COLOR;
    }
    .link{
        position: absolute;
        right: rem(15px);
        font-size: rem(14px);
        color: $GREY_FONT_COLOR;
        height: rem(44px);
        line-height: rem(44px);
        text-align: center;
        align-self: center;
        display: flex;
        justify-content: center;
        .bank{
            fill:#FFFFFF;
        }
    }
    .bank{
        width: rem(22px);
    }
    
}