@import "../variable";

.home {
  background: $BACKGROUND;
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  // height: 100%;
  .globalTimeBox{
    width: 90%;
    margin: rem(5px) auto;
    tr{
      margin-bottom: rem(10px);
      td{
        font-size: rem(14px);
        height: rem(40px);
        width: 45%;
        div{
          // display: flex;
          // flex-direction: column;
          // justify-content: center;
          line-height: rem(20px);
        }
        .dateAndTimeBox{
          display: flex;
          flex-direction: column;
          padding-left: rem(10px);
          
          // justify-content: center;
          // align-items: center;
          
          
          div{
            color: $LIGHT_FONT_COLOR;
          }
        }
      }
      td:last-child{
        border-left: 1px solid $LIGHT_FONT_COLOR;
      }
      // .beijing{
      //   background: #ABA9BF;
      // }
      // .london{
      //   background: #BEB7DF;
      // }
      // .newYork{
      //   background: #D4F2D2;
      // }
      // .tokyo{
      //   background: #868784;
      // }
    }
    
  }
  .imageBox{
    position: relative;
    img{
      width: 100%;
    }
    .inputBox{
      position: absolute;
      top:rem(5px);
      width: 100%;
      text-align: center;
      input{
        color: $FONT_COLOR;
        background: rgba(255, 255, 255, 0.7);
        font-size: rem(14px);
        width: 90%;
        padding: rem(5px) rem(10px);
        margin: 0 auto;
      }
    }
  }
  .article{
    padding: 0 rem(10px);
    li{
      display: flex;
      height: rem(30px);

      .keyWordBox{
        margin: auto 0;
        min-width: rem(50px);
        div{
          color: #E46077 ;
          border: 1px solid #E46077;
          padding: rem(2px); 
          font-size: rem(10px);
         
        }
      }
      .titleBox{
        margin: auto 0;
        margin-left: rem(5px);
        overflow: hidden;
        
        div{
          color: $FONT_COLOR;
          text-overflow: ellipsis;
          overflow: hidden;
        white-space: nowrap;
        }
      }
      div{
        font-size: rem(12px);
      }
      
      
    }
  }
  .topButtonBoxs{
    display: flex;
    font-size: rem(14px);
    >a{
      display: flex;
      flex:1;
    }
    .home-quota{
      flex-direction: column;
      .image{
        background: #D31996;
        svg{
          fill: $WHITE;
          width: rem(20px);
        }
      }
      
    }
    .home-invite{
      flex-direction: column;
      .image{
        background: #708D91;
      }
    }
    .home-live{
      flex-direction: column;
      .image{
        background: #708D91;
        svg{
          fill: $WHITE;
          width: rem(20px);
        }
      }
    }
    .home-cs{
      flex-direction: column;
      .image{
        background: #19DD89;
        svg{
          fill: $WHITE;
          width: rem(22px);
        }
      }
    }
    .text{
      color: $FONT_COLOR;
      align-self: center;
      margin-top: rem(5px);
      font-size: rem(10px);
    }
    .imageSize{
      width: rem(40px);
      height: rem(40px);
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: rem(40px);
    }
  }
  .homeCategory{
    width: 90%;
    // margin-top: rem(10px);
    // position: absolute;
    // bottom: 0;
    margin-left: 5%;
    tr{
      display: flex;
      border-top: 1px solid $LIGHT_FONT_COLOR;
      td{
        // padding: rem(10px);
        width: 50%;
        height: rem(140px);
        display: flex;
        .colorBox{
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .imageBox{
            width: rem(50px);
            height: rem(50px);
            svg{
              height: rem(44px);
              fill: $WHITE;
            }
          }
          .title{
            margin-top: rem(5px);
            font-size: rem(16px);
            color: $WHITE;
          }
        }
        .quotation-color{
          // background: #7596FF;
        }
        .trade-color{
          // background: #A300FF;
        }
        .info-color{
          background: #5FCC55;
        }
        .favorite-color{
          // background: #F3854C;
        }
        .notice-color{
          background: #E671B8;
        }
        .position-color{
          // background: #01BCD7;
        }
        .share-color{
          background: #83A8C3;
        }
        .logout-color{
          background: #5959B9;
        }
      }
      td:last-child{
        border-left: 1px solid $LIGHT_FONT_COLOR;
      }
    }
  }
  .m-header{
    display: flex;
    justify-content: space-between;
    // margin-bottom: rem(15px);
    height: rem(44px);
    div{
      font-size: rem(16px);
      color: $FONT_COLOR;
      flex: 1;
      justify-content: center;
      align-items: center;
    }
    .title{
      display: flex;
      
    }
    .imageBox{
      // width: rem(32px);
      // height: rem(32px);
      svg{
        width: rem(32px);
        height: rem(32px);
      }
    }
    .kefu{
      svg{
        width: rem(42px);
        height: rem(42px);
      }
    }
    .menuButton{
      display: flex;
      padding-left: rem(10px);
      div{
        display: flex;
        justify-content: flex-start;
        fill: $WHITE;
      }
    }
    a{
      flex: 1;
      display: flex;
      padding-right: rem(10px);
      div{
        display: flex;
        justify-content: flex-end;
        fill: $WHITE;
      }
    }
  }
  .card-slide{
    width: 300%;
    overflow: hidden;
    display: flex;
    height: rem(90px);
    >div{
      position: relative;
      float: left;
      width: rem(300px);
      // height: rem(100px);
      margin: rem(0px) rem(10px);
      >a{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        display: flex;
        justify-content: center;
        font-size: rem(16px);
        align-self: center;
        color: $WHITE;
        margin: 0 rem(15px);
        border-radius: rem(5px);
        >div{
          align-self: center;
          margin:0 rem(15px);
          .middle{
            font-size: rem(20px);
            margin: rem(5px) 0;
          }
        }
      }

    }
  }
  .card-swipe{
    width: 100%;
    overflow: hidden;
  }
  .bannerBox{
    // height: rem(120px);
    ul{
      display: flex;
      padding: rem(5px) 0;
      margin-top: rem(10px);
      li{
        color: $FONT_COLOR;
        font-weight: 100;
        font-size: rem(14px);
        margin-left: rem(5px);
      }

      .bannerButtonActive{
        color: $HEADER_COLOR;
      }
    }

    //items
    div{
      img{
        width: 100%;
      }
    }

    .itemBox{
      display: flex;
      // justify-content: space-evenly;
      // height: rem(100px);
      background: $LIGHT_GRAY_BACKGROUND;
      // padding: rem(10px) 0;
      width: rem(310px);
      height: 100%;
      .unitButton{
        color: $WHITE;
        display: flex;
        width: 100%;
        border-radius: 4px;
        flex-direction: column;
        justify-content: center;

        .rate{
          font-size: rem(12px);
          padding: rem(5px) 0;
        }
        .price{
          font-size: rem(16px);
        }
        .name{

        }

        div{
          color: $FONT_COLOR;
          font-size: rem(12px);
          text-align: center;
        }
        .hide{
          color: transparent;
        }
        .raise{
          color: $RAISE;
        }
        .fall{
          color: $FALL;
        }
        // .bannerWrapper{
        //   font-size: rem(20px);
        //   height: 100%;
        //   >div{
        //     height: 40%;
        //   }
        // }
        // .lineWrapper{
        //   display: block ! important;
        //   height: inherit;
        //   // position: absolute;
        //   // top: 0;
        //   // left: 0;
        //   z-index: 99;
        //   display: flex;
        //   flex-direction: row;
        //   width: 100%;
        //   height: 20% !important;
        //   .lineBox{
        //     display: inline;
        //     width: 100%;
        //   }
        // }
        // .priceWrapper{
        //   flex-direction: column;
        //   display: flex;
        //   margin-right: rem(10px);
        //   margin-bottom: rem(5px);
        //   flex:1;
        //   position: relative;

        //   div{
        //     display: flex;
        //     align-self:  flex-end;
        //     flex: 1;
        //     font-size: rem(12px);
        //   }
        // }
        // .title{
        //   margin-left: rem(10px);
        //   margin-top: rem(10px);
        //   font-size: rem(16px);
        // }
      }
    }
  }
  .homeNoticeBox{
    display: flex;
    padding: 0 rem(10px);
    .title{
      font-size: rem(15px);
      display: flex;
      min-width: rem(50px);
      // background: #C28A36;
      padding: rem(10px) 0 rem(10px) rem(5px);
      color: $WHITE;
      border-top-left-radius: rem(10px);
      border-bottom-left-radius: rem(10px);
    }
    .noticesBox {
      width: 100%;
      // background: $LIGHT_GRAY_BACKGROUND;
      border-top-right-radius: rem(10px);
      border-bottom-right-radius: rem(10px);
      div{
        height: 100%;
      }
      a {
        font-size: rem(15px);
        padding-left: rem(10px);
        color: $WHITE;
        vertical-align: middle;
        overflow: hidden;
        word-wrap: unset;
        width: 100%;
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
  }
  
  // .quotation{
  //   a{
  //     display: flex;
  //     font-size: rem(18px);
  //     color: $WHITE;
  //     justify-content: space-between;
  //     align-items: center;
  //     // margin: rem(10px);
  //     background: $BACKGROUND;
  //     padding-left: rem(10px);
  //     .titleWrapper{
  //       font-size: rem(14px);
  //       div:last-child{
  //         color: $LIGHT_LIGHT_FONT_COLOR;
  //         margin-top: rem(5px);
  //       }
  //     }
  //     .imageWrapper{
  //       position: relative;
  //       padding: rem(5px) 0;
  //       .downLine{
  //         padding: rem(5px) 0;
  //         position: absolute;
  //         right: 0px;
  //         top: -1px;
  //       }
  //       .rate{
  //         position: absolute;
  //         bottom: rem(5px);
  //         right: rem(5px);
  //         font-size: rem(14px);
  //         text-align: right;
  //       }
  //       .red{
  //         color: $RAISE
  //       }
  //       .green{
  //         color: $FALL
  //       }
  //     }
  //   }
  // }
  .red{
    color: $RAISE
  }
  .green{
    color: $FALL
  }
  
  main {
    // padding-bottom: rem(10px);
    // margin-bottom: rem(10px);
    
    header {
      position: relative;
      > img {
        width: 100%;
      }
      .top {
        position: absolute;
        left: rem(15px);
        top: rem(10px);
        height: rem(28px);
        width: 92%;
        display: flex;
        justify-content: space-between;
        z-index: 100;
        > div {
          display: flex;
          border: 1px solid $LIGHT_LINE;
        }
        .left {
          background: rgba(255, 255, 255, .7);
          padding: 0 rem(10px);
          border-radius: rem(5px);
          width: 100%;
          input {
            width: 95%;
            background: transparent;
            font-size: rem(14px);
            outline: none;
            &::placeholder {
              color: #8C97A4;
            }
          }
          >div{
            align-self: center;
            width: rem(25px);
            height: rem(25px);
            svg{
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    // background: $WHITE;
    .nav {
      background: $WHITE;
      padding: rem(15px) rem(15px);
      display: flex;
      .box {
        flex: 1;
        padding: 0 rem(10px);
        text-align: center;
        img {
          margin: auto;
          width: rem(42px);
        }
        b {
          display: block;
          font-size: rem(14px);
          color: #333;
        }
      }
      .middle {
        border-right: 1px solid $BOX_LINE;
        border-left: 1px solid $BOX_LINE;
      }
    }
    .noticeBox {
      font-size: rem(18px);
      display: flex;
      background: $BACKGROUND;
      border-radius: rem(25px);
      overflow: hidden;
      margin: rem(10px);
      .homeNoticeImageWrapper{
        display: flex;
        margin-left: rem(10px)
      }
      label {
        width: rem(82px);
        background: #FEC525;
        height: 100%;
        text-align: center;
        align-self: center;
        justify-content: center;
        padding: rem(10px) 0;
        font-size: rem(16px);
        color: $WHITE;
      }
      a {
        display: inline-block;
        width: rem(280px);
        vertical-align: middle;
        align-self: center;
        height: rem(30px);
        line-height: rem(30px);
        
      }
    }
  }
  .searchArea{
    position: fixed;
    top: 0;
    left: 0;
    background: $WHITE;
    width: 100%;
    height: 100%;
    z-index: 99;
    >div{
      padding: rem(60px) 0;
      a{
        font-size: rem(14px);
        display: block;
        width: 100%;
       // background: $LIGHT_LINE;
        color: $FONT_COLOR;
        padding: rem(13px);
        border-bottom: 1px solid $LIGHT_LINE;
      }
    }
  }
}

.quotation {
  margin-bottom: rem(10px);
  .titleBox{
    display: flex;
    justify-content: center;
    padding:  rem(10px);
    align-items: center;
    height: rem(40px);
    border-bottom: 1px solid #eaeaea;
    .title{
      font-size: rem(16px);
      // color: $BASIC_FONT_COLOR;
      margin: 0 rem(10px);
    }
    .active{
      border-bottom: 1px solid $FIRST_FONT_COLOR;
      font-size: rem(18px);
      color: $FIRST_FONT_COLOR;
      border: 1px solid $FIRST_FONT_COLOR;
      border-radius: rem(15px);
      padding: rem(3px);
    }
    .imageBox{
      transform: rotate(180deg);
      fill: $GREY_FONT_COLOR;
      width: rem(20px);
      height: rem(32px);
    }
  }
  .typeBoxH {
    // background: $WHITE;
    margin-bottom: rem(10px);
    border-radius: rem(5px);
    > a {
      display: flex;
      justify-content: space-between;
      font-size: 0;
      padding: rem(10px) rem(15px);
      border-bottom: 1px solid $LIGHT_LINE;
      min-width: rem(68px);
      b {
        display: inline-block;
        padding: 0 rem(10px);
        font-size: rem(18px);
        color: $ORANGE;
      }
      .arrow {
        transform: rotate(90deg);
        width: rem(15px);
        height: rem(15px);
        fill: #adadad;
      }
    }
    ul {
      width: 100%;
      overflow: hidden;
      li {
        width: 33.3%;
        float: left;
        padding: rem(10px) 0;
        text-align: center;
        border-bottom: 1px solid $LIGHT_LINE;
        a {
          display: inline-block;
          font-size: 0;
          color: $DEEP_GREY_FONT_COLOR;
          border-left: 1px solid $LIGHT_LINE;
          div {
            width: 100%;
            font-size: rem(15px);
            display: inline-block;
            margin: auto;
          }
          .top {
            font-size: rem(14px);
            height: rem(14px);
            // color: $BASIC_FONT_COLOR;
            span {
              font-size: rem(6px);
              color: #FFFFFF;
              display: inline-block;
              padding: rem(1px) rem(2);
              vertical-align: top;
              border-radius: rem(3px);
              margin-left: rem(2px);
            }
            .green {
              background: $FALL;
            }
            .red {
              background: $RAISE;
            }
          }
          .bottom {
            font-size: rem(13px);
            &.rest {
              font-size: rem(13px);
              color: $GREY_FONT_COLOR;
            }
          }
        }
        .middle {
          margin: rem(4px) 0;
          font-size: rem(23px);
        }
        &:nth-child(3n+1) {
          a {
            border-left: none;
          }
        }
      }
      .red {
        color: $RAISE;
      }
      .green {
        color: $FALL
      }
    }
  }
}