@import "../variable";

.recommend{
  .main{
    position: relative;
    img{
      width: 100%;
    }
    .p{
      position: absolute;
      width: rem(70px);
      height: rem(70px);
      top: rem(200px);
      left: rem(155px);
      
    }
    .shareBox{
      width: 90%;
      margin: auto;
      padding: rem(15px);
      border: 1px dashed $HEADER_COLOR;
      display: flex;
      border-radius: rem(40px);
      margin-bottom: rem(30px);
      >div{
        font-size: rem(16px);
        color: #6e6e6f;
      }
      .shareLeft{
        flex: .8;
        .shareAddress{
          font-size: rem(13px);
          margin-top: rem(10px);
          color: $HEADER_COLOR;
        }
        p{
            color: $FONT_COLOR;
        }
      }
      .shareRight{
        text-align: center;
        flex: .2;
        >div{
          width: rem(50px);
          display: inline-block;
          margin: auto;
          font-size: rem(14px);
          color: $HEADER_COLOR;
        //   background: $LIGHT_GRAY_BACKGROUND;
          border-radius: rem(5px);
          padding:rem(8px) rem(10px);
          margin-top: rem(5px);
          border: 1px solid $HEADER_COLOR;
        }
      }
    }
  }
  .success{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    div{
      width: rem(250px);
      height: rem(100px);
      text-align: center;
      line-height: rem(100px);
      font-size: rem(18px);
      color: #FFFFFF;
      position: absolute;
      top: -10%;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background: #495b75;
      border-radius: rem(5px);
    }
  }
}
