@import "../variable";

.rulePage{
  @include nav-page;
  background: $DEFAULT_BACKGROUND;
  color: $LIGHT_LIGHT_FONT_COLOR;
  .grid{
    padding-top: rem(44px);
    height: 100%;
    overflow: auto;
    background:$BACKGROUND;
    table{
      width: 100%;
      tr{
        &:nth-child(odd){
          td{
            &:first-child{
              background: $LIGHT_GRAY_BACKGROUND;
              color: $LIGHT_LIGHT_FONT_COLOR;
            }
          }
        }
        td{
          &:first-child{
            width: 33.33%;
            padding: rem(10px) 0;
            border-right: 1px solid #fff;
            text-align: center;
            color: $LIGHT_LIGHT_FONT_COLOR;
            background: $LIGHT_GRAY_BACKGROUND;
          }
          &:last-child{
            padding: rem(10px);
            text-align: left;
            line-height: 1.2;
            color: $FONT_COLOR;
            background: $LIGHT_GRAY_BACKGROUND;
          }
          >p{
            margin-bottom: rem(4px);
            color: $FONT_COLOR;
          }
          font-size: rem(14px);
          vertical-align: middle;
          border-bottom: 1px solid #fff;
        }
      }
    }
    .tips{
      overflow: hidden;
      font-size: rem(14px);
      padding: rem(10px);
      line-height: 1.2;
      background: $LIGHT_GRAY_BACKGROUND;
    }
    .jump{
      color: $LIGHT_LIGHT_FONT_COLOR;

      text-align: center;
      .buttonGuide{
        margin-top: rem(15px);
        margin-bottom: rem(10px);
        >a{
          background: $HEADER_COLOR;
          color: $WHITE;
          padding: rem(5px) rem(10px);
          border-radius: rem(20px);
          
        }
      }
      
    }
    .drawerBox{
      display: flex;
      background: $LIGHT_GRAY_BACKGROUND;
      >div{
        flex: 1;
      }
    }
  }
}