@import "../variable";

.shareBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    .shareMain{
      position:fixed;
      display: flex;
      justify-content: space-between;
      font-size: rem(16px);
      padding: rem(40px) rem(40px);
      left: 0;
      bottom: 0;
      width: 100%;
      background: $LIGHT_LINE;
      img{
        margin-bottom: rem(10px);
        width: rem(50px);
      }
      div{
        text-align: center;
      }
    }
  }