@import "../variable";

.positionMain{
  overflow: hidden;
  height: 100%;
  .p-header{
    height: rem(44px);
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    background: $BACKGROUND;
    .pageSelector{
      display: flex;
      border: 1px solid $WHITE;
      border-radius: 4px;
      width: rem(180px);
      margin: auto;
      align-items: center;
      
      .title{
        font-size: rem(16px);
        color: $WHITE;
        display: flex;
        flex: 1;
        justify-content: center;
        padding: rem(5px) 0;
      }
      .rightLine{
        border-right: 1px solid $ACTIVE_COLOR;
      }
    }
    .imageBox{
      width: rem(30px);
      height: rem(30px);
      position: absolute;
      left: rem(5px);
      top: 20%;
      svg{
        fill: $WHITE;
        width: rem(30px);
        height: rem(30px);
      }
    }

    .pageSelected{
      background: $WHITE;
      color: $BACKGROUND !important;
    }
  }

  .topButtons{
    font-size: rem(20px);
    display: flex;
    .topButton{
      display: flex;
      color: $WHITE;
      flex: 1;
      justify-content: center;
      padding: 0 0 rem(10px) 0;
    }

    .active{
      border-bottom: 3px solid $BLUE;
    }
  }

  .headerComponentWrapper{
    display: flex;
    margin-bottom: rem(2px);
    padding-top: rem(45px);
    flex-direction: column;
    > div {
      padding: rem(8px);
      display: flex;
      
      .money {
        font-size: rem(30px);
        align-self: center;
        justify-content: center;
        color: $LIGHT_FONT_COLOR;
      }
      .raise {
        color: $RAISE;
      }
      .fall {
        color: $FALL;
      }
    }
    .des {
      font-size: rem(16px);
      align-self: flex-start;
      // padding-left: rem(10px);
      padding-left: rem(5px);
      border-left: 3px solid #64B9FC;
      color: #64B9FC;
    }
    .btn {
      font-size: rem(13px);
      align-self: center;
      padding: rem(10px) rem(20px);
      // width: rem(80px);
      // height: rem(30px);
      // line-height: rem(15px);
      text-align: center;
      background: $PURPLE;
      color: $WHITE;
      border-radius: 5px;
      display: flex;
      justify-content: center;
    }
    span{
      font-size: rem(14px);
    }
    .headerBottomWrapper{
      display: flex;
      justify-content: space-between;
      flex:1;
      div{

      }
    }
  }
}

.position {
  // position: relative;
  overflow: hidden;
  padding-top: rem(55px);
  display: flex;
  height: 100%;
  flex-direction: column;
  .warp {
    display: flex;
    padding: rem(0) 0 rem(50px);
    flex: 1;
    flex-direction: column;
    position: relative;
    .positionBox {
      display: flex;
      padding:0 rem(15px);
      flex: 1;
      flex-direction: column;
    }
    .statistics {
      display: flex;
      justify-content: space-between;
      padding: 0 rem(15px);
      margin-bottom: rem(2px);
      background: #28334A;
      // box-shadow: 0px 0px 16px #eeeeee;
      > div {
        padding: rem(8px);
        display: flex;
        .des {
          font-size: rem(16px);
          align-self: center;
        }
        .money {
          font-size: rem(16px);
          align-self: center;
          justify-content: center;
        }
        .raise {
          color: $RAISE;
        }
        .fall {
          color: $FALL;
        }
      }
      .btn {
        font-size: rem(13px);
        align-self: center;
        width: rem(80px);
        height: rem(30px);
        line-height: rem(15px);
        text-align: center;
        // background: $WHITE;
        color: $WHITE;
        border-radius: 5px;
        // border: 1px solid $ACTIVE_COLOR;
      }
      span{
        font-size: rem(14px);
      }
    }
    .imgWrap {
      position: absolute;
      width: 100%;
      //display: flex;
      top: 25%;
      text-align: center;
      p {
        font-size: rem(16px);
        margin-top: rem(10px);
        color: #C7C7C7;
      }
      .empty {
        fill: #C7C7C7;
        width: rem(90px);
        margin: auto;
      }
    }
  }
  h4 {
    font-size: rem(18px);
    padding: rem(10px);
  }
  .flat {
    flex: 1;
    overflow: auto;
    .settlementLI{
      margin-left: rem(10px) !important;
      margin-right: rem(10px) !important;
    }
    li {
      // border-radius: rem(8px);
      overflow: hidden;
      padding-top: rem(5px);
      margin-top: rem(15px);
      background: #28334A;
      display: flex;
      .position-data{
        display: flex;
        .price{
          display: flex;
          align-self: center;
          text-align: center;
          margin-left: rem(7px);
        }
      }
      // > div {
      //   padding:  rem(10px) rem(24px);
      //   display: flex;
      //   justify-content: space-between;
      //   font-size: rem(14px);
      //   &:last-child {
      //     align-self: center;
      //     color: #FFFFFF;
      //     .last {
      //       > div {
      //         padding: rem(5px) rem(10px);
      //         border: 1px solid $WHITE;
      //         border-radius: rem(5px);
      //       }
      //     }
      //   }
      // }
      .commodityWrapper{
        display: flex;
        flex: 1;
        .commodity{
          color: $FONT_COLOR;
          align-self: center;
          font-size: rem(14px);
          padding:  rem(10px) rem(24px);
        }
        .incomeStatus{
          margin: 0 rem(5px);
          font-size: 12px;
          padding: rem(2px);
          color: $WHITE;
        }
        .fallBackground{
          background: linear-gradient(to right bottom,#0D8567,#148569);
        }
        .raiseBackground{
          background: linear-gradient(to right bottom,#FF4465,#F6CA1D);
        }
        .volume{
          font-size: rem(16px);
          display: flex;
          align-self: center;
        }
      }
      .normalTextColor{
        display: flex;
        align-self: center;
        color: $LIGHT_FONT_COLOR;
        margin-right: rem(10px);
      }
      .cell{
        color: $FONT_COLOR;
        display: flex;
        flex: 1;
        justify-content: space-between;
        .statusBox{
          display: flex;
          margin-right: rem(10px);
        }
        > div {
          // padding:  rem(10px) rem(24px);
          // display: flex;
          justify-content: space-between;
          font-size: rem(14px);
          &:last-child {
            align-self: center;
            color: #FFFFFF;
            .last {
              > div {
                padding: rem(5px) rem(10px);
                border: 1px solid $WHITE;
                border-radius: rem(5px);
              }
            }
          }
        }
      }
      .raise {
        color: $RAISE;
        font-size: rem(18px);
      }
      .fall {
        color: $FALL;
        font-size: rem(18px);
      }
      .raiseBg {
        background: $RAISE;
      }
      .fallBg {
        background: $FALL;
      }

      .settlementBox {
        > div {
          padding: rem(5px);
          font-size: rem(16px);
          display: flex;
          justify-content: space-between;
          .left {
            > div {
              margin-bottom: rem(3px);
            }
            .time {
              color: $GREY_FONT_COLOR;
            }
          }
          .right {
            justify-content: center;
            align-self: center;
            font-size: rem(20px);
          }
        }
        .last {
          color: $WHITE;
          font-size: rem(14px);
          > div {
            align-self: center;
          }
          svg {
            width: rem(22px);
            height: rem(22px);
            fill: $WHITE;
          }
        }
      }
      table{
        font-size: rem(14px);
        // width:100%;
        color: $LIGHT_FONT_COLOR;
        border-collapse: collapse;
        
        td{
          // padding: rem(12px) rem(px);
          padding-left: rem(24px);
          padding-bottom: rem(10px);
          font-size: rem(10px);
          // width: 33.3%;
          // text-align: center;
        }
        .orange{
          color: $ORANGE;
        }
      }
      
      .buttonWrapper{
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: flex-start;
        font-size: rem(12px);
        div{
          margin: rem(6px) rem(10px);
        }
        .closeButtonBackground{
          background: linear-gradient(to right bottom,#504EA7,#8268D8);
          padding: rem(5px) rem(5px);
          min-width: rem(90px);
          text-align: center;
          color: $WHITE;
          background: $ACTIVE_COLOR;
        }
        .setProfitButtonBackground{
          padding: rem(5px) rem(5px);
          // margin-left: rem(20px);
          min-width: rem(90px);
          color: $WHITE;
          border: 1px solid $ACTIVE_COLOR;
          text-align: center;
        }
      }
    }
    .raiseLine {
      border-color:$RAISE;
    }
    .fallLine {
      border-color: $FALL;
    }
    .setting{
      display: flex;
      >div{
        justify-content: center;
        align-self: center;
      }
    }
  }
  .stopSPSL {
    @include nav-page;
    background-color: $BACKGROUND;
    .body {
      padding: rem(0) rem(15px) 0;
      .information {
        margin-top: rem(10px);
        display: flex;
        padding: rem(15px) rem(10px);
        font-size: rem(16px);
        justify-content: space-between;
        box-shadow: 0 0px 15px #eeeeee;
        border-radius: rem(5px);
        >div{
          justify-content: center;
          align-self: center;
          span{
            font-size: rem(12px);
            color: $WHITE;
            padding: rem(1px) rem(3px);
            border-radius: rem(2px);
            margin-top: rem(-1px);
          }
          .news{
            color: $GREY_FONT_COLOR;
            font-size: rem(14px);
            margin-top: rem(10px);
          }
        }
      }
      .raise{
        color: $RAISE;
      }
      .fall{
        color: $FALL;
      }
      .board {
        .range-controller {
          display: flex;
          margin-top: rem(25px);
          .plusWrap {
            margin-left: rem(16px);
            display: flex;
            justify-content: center;
          }
          .reduceWrap {
            margin-right: rem(16px);
            display: flex;
            justify-content: center;

          }
          .plus {
            width: rem(16px);
            height: rem(16px);
            fill: $LIGHT_FONT_COLOR;

          }
          .reduce {
            width: rem(10px);
            height: rem(10px);
            fill: $LIGHT_FONT_COLOR;
            align-self: center;
          }
        }
        .input-range {
          flex: 1;
          height: 8px;
          align-self: center;
          background: $GRAY_BACKGROUND;
          -webkit-appearance: none;
          &:focus {
            outline: none;
          }
          &::-webkit-slider-runnable-track {
            width: 100%;
            height: 8px;
            cursor: pointer;
            animation: 0.2s;
            background: $GRAY_BACKGROUND;
            border-radius: 2px;
            border: 1px solid $GRAY_BACKGROUND;
          }
          &::-webkit-slider-thumb {
            height: rem(28px);
            width: 15px;
            border-radius: 2px;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: rem(-10px);
            border: none
          }
          &.raise::-webkit-slider-thumb {
            background: $RAISE;
          }
          &.fall::-webkit-slider-thumb {
            background: $FALL;
          }
        }
        .between {
          margin-top: rem(14px);
          display: flex;
          color: $LIGHT_FONT_COLOR;
          span {
            font-size: rem(14px);
          }
          span:last-child{
            margin-left: rem(10px);
          }
          
        }
        .submit {
          font-size: rem(16px);
          text-align: center;
          // height: rem(36px);
          background: $ACTIVE_COLOR;
          color: $WHITE;
          border-radius: rem(40px);
          margin-top: rem(40px);
          margin-bottom: rem(20px);
          padding: rem(14px) 0
        }
      }
      .infoWrapper{
        color: $LIGHT_FONT_COLOR;
        font-size: rem(18px);
        .infoWrapper-top{
          display: flex;
          justify-content: space-between;
          margin: rem(10px) 0;
          .titleWrapper{
            display: flex;
            .name{
              color: $FONT_COLOR;
              font-size: rem(18px);
              display: flex;
              align-self: center;
            }
            .modelWrapper{
              display: flex;
              .model{
                font-size: rem(18px);
                // background: $PURPLE;
                align-self: center;
                display: flex;
                padding: rem(4px);
                margin: 0 rem(5px);
                border-radius: 4px;
              }
            }
            
          }
          .latestPrice{
            display: flex;
            align-self: center;
          }
        }
        .infoWrapper-bottom{
          display: flex;
          .classType{

          }
          .latestPrice{
            margin-left: rem(10px);
          }
        }
      }
      p {
        font-size: rem(13px);
        margin-bottom: rem(12px);
        color: $GREY_FONT_COLOR;
        pointa {
          color: $ORANGE;
        }
      }
    }
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: rem(10px);
    display: flex;
    justify-content: center;
    align-self: center;
    background: $BACKGROUND;
    width: 100%;
    > a {
      justify-content: center;
      align-self: center;
      font-size: rem(16px);
      padding: rem(7px);
      text-align: center;
      margin: 0 rem(10px);
      width: rem(110px);
    }
    .unSelect {
      color: $ORANGE;
      border-radius: rem(5px);
      border: 1px solid $ORANGE;
    }
    .bgRed {
      background: $ORANGE;
      border-radius: rem(4px);
      padding: rem(6px);
      text-align: center;
      justify-content: center;
      align-self: center;
      color: #FFFFFF;
    }
  }
}

.redBg {
  background: $RAISE;
}
.greenBg {
  background: $FALL;
}

.settlement{
  .warp{
    padding: 0;
    padding-top: rem(10px);
    .flat{
      li{
        margin: 0;
        margin-bottom: rem(15px);
      }
    }
  }

  
}