@import "../variable";

.liveBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: $BACKGROUND;

  .i-header{
    display: flex;
    width: 100%;
    height: rem(44px);
    position: fixed;
    justify-content: center;
    align-items: center;
    // border-bottom: 1px solid $BOX_LINE;
    background: $HEADER_COLOR;
    .imageBox{
      width: rem(32px);
      height: rem(43px);
      position: absolute;
      left: rem(10px);
      top: 20%;
      
      svg{
        width: rem(32px);
        height: rem(32px);
        fill: $WHITE;
      }
    }
    .pageSelector{
      display: flex;
      border: 1px solid $WHITE;
      color: $WHITE;
      a{
        font-size: rem(18px);
        display: flex;
        align-self: center;
        padding: rem(5px) rem(25px);
        color: $WHITE;
      }
      a:nth-child(2){
        border-left: 1px solid $WHITE;
        border-right: 1px solid $WHITE;
      }
      .pageSelector-select{
        background: $WHITE;
        color: $HEADER_COLOR;
      }
    }
  }

  .main {
    position: fixed;
    width: 100%;
    top: rem(44px);
    z-index: 10;
    > div {
      padding: rem(4px) rem(20px);
      display: flex;
      // justify-content: space-between;
      height: rem(33px);
      font-size: rem(14px);
      background: $BACKGROUND;
      align-items: center;
      a {
        color: $LIGHT_FONT_COLOR;
        padding: rem(4px) 0;
        margin-right: rem(10px);
        // display: flex;
        flex: 1;
        text-align: center;
        border: 1px solid $HEADER_COLOR;
        border-radius: rem(4px);
      }
      a:first-child{
        margin-left: rem(10px);
      }
    }
    .selected {
      color: $FONT_COLOR;
      // border: 2px solid $HEADER_COLOR;
      background: $HEADER_COLOR;
    }
  }
}

//todo 直播
.live {
  background: $BACKGROUND;
  padding-top: rem(55px);

  table{
    tr{
      padding: 0 rem(10px);
      td{
        
        .contentWrapper{
          font-size: rem(12px);
          color: $LIGHT_LIGHT_FONT_COLOR;
          margin: 0 rem(0px);
          padding: 10px;
          margin-bottom: rem(20px);
          // border: 1px solid #eeeeee;
          // box-shadow: 0px 0px 16px #eeeeee;
          background: #28334A;
        margin-bottom: rem(10px);
          >p{
            font-size: rem(15px);
            color: $FONT_COLOR;
          }
          .listDate{
            font-size: rem(11px);
            text-align: left;
            color: $LIGHT_FONT_COLOR;
          }
          .listContent{
            margin: rem(10px) 0;
            line-height: 16px;
            color: $FONT_COLOR;
          }
        }
        
      }
    }
  }
}

//todo 新闻

.news {
  padding-top: rem(55px);
  background: $BACKGROUND;
  .ul-content-offset{
    padding-bottom: rem(20px);
  }
  .emptyBox{
    svg{
      width: rem(150px);
      height: rem(150px);
    }
    div{
      color: $FONT_COLOR;
      font-size: rem(16px);
      text-align: center;
    }
  }
  .editableButton{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $WHITE;
    ul{
      display: flex;
      justify-content: space-between;
      padding: rem(10px) rem(10px);
      background: $BOX_LINE;
      li{
        font-size: rem(14px);
      }
      li:first-child{
        color: $HEADER_COLOR;
      }
      li:last-child{
        color: $RAISE;
      }
    }
  }
  .columnDirection{
    flex-direction: column;
  }
  .cellWrapper{
    padding: rem(5px);
    display: flex;
    // flex-direction: column;
    // border-radius: 4px;
    // box-shadow: 0px 0px 16px #eeeeee;
    margin: 0 rem(0px) rem(10px);
    background: #28334A;
    .hide{
      display: none;
    }
    .editBox{
      display: flex;
      align-items: center;
      .editBox-circle{
        width: rem(20px);
        height: rem(20px);
        border-radius: rem(20px);
        border: 1px solid $LIGHT_LIGHT_FONT_COLOR;
      }
      .editBox-circle-select{
        width: rem(20px);
        height: rem(20px);
        border-radius: rem(20px);
        background: $HEADER_COLOR;
      }
    }
    .cellWrapper-bottom{
      display: flex;
      justify-content: space-between;
      height: rem(20px);
      .starBox{
        flex-direction: row;
        display: flex;
        justify-content: center;
        // height: rem(20px);
        .starBox-iconBox{
          width: rem(16px);
          height: rem(10px);
          svg{
            height: rem(20px);
          }
        }
        .starBox-text{
          font-size: rem(12px);
          color: $FONT_COLOR;
          display: flex;
          align-items: center;
          margin-right: rem(2px);
          
        }
        .purple{
          fill: $HEADER_COLOR;
          color: $HEADER_COLOR;
        }
      }
      .dateWrapper{
        display: flex;
        // justify-content: flex-end;
        justify-content: center;
        flex: 1;
        flex-direction: column;
        .date{
          color: $LIGHT_LIGHT_FONT_COLOR;
          font-size: rem(12px);
          display: flex;
          padding-left: rem(5px);
          padding-bottom: rem(5px);
        }
      }
    }
    .cell{
      display: flex;
      flex-direction: row;
      padding: rem(10px);
      
      img{
        width: rem(92px) !important;
        height: rem(61);
        margin-right: rem(5px);
      }
      .contentWrapper{
        display: flex;
        flex-direction: column;
        // justify-content: center;
        .title{
          color: $LIGHT_FONT_COLOR;
          font-size: rem(14px);
          padding-top: rem(5px);
          padding-right: rem(5px);
          line-height: rem(17px);
        }
        
      }
    }
  }

}

.dateComponent {
  padding-top: rem(78px);
  color: $GREY_FONT_COLOR;
  background: $WHITE;
  text-align: center;
  div {
    margin: rem(8px);
    font-size: rem(16px);
    width: rem(80px);
    padding: rem(5px);
    border-radius: rem(4px);
    background: $LIGHT_LINE;
  }
}
.ul-content-paddingTop-offset{
  padding-top: rem(45px);
}
//todo 财经
.financeBox {
  background: $LIGHT_LINE;
  padding-top: rem(78px);
  .date {
    display: flex;
    background: $WHITE;
    font-size: rem(12px);
    text-align: center;
    padding: rem(10px);
    > div {
      margin: 0 rem(7px);
      color: $FONT_COLOR;
      div {
        &:first-child {
          font-size: rem(14px);
          margin-bottom: rem(3px);
          span {
            display: inline-block;
            border-radius: 50%;
            padding: rem(3px);
          }
        }
      }
    }
    .active {
      color: $ORANGE;
      > div {
        &:first-child {
          color: $WHITE;
          span {
            background: $ORANGE;
          }
        }
      }
    }
  }
  .newsBox {
    margin-top: rem(10px);
    background: $WHITE;
    .newsInfo {
      display: flex;
      font-size: rem(16px);
      color: $FONT_COLOR;
      padding: rem(10px) rem(10px);
      border-bottom: 1px solid $LIGHT_LINE;
      margin: rem(5px) 0;
      flex: 1;
      .time {
        flex: .2;
        text-align: center;
        img {
          width: rem(35px);
          margin-bottom: rem(5px);
        }
        p {
          font-size: rem(14px);
        }
      }
      .info {
        flex: .8;
        padding-left: rem(10px);
        > div {
          display: flex;
          justify-content: space-between;
          &:first-child {
            span {
              border: 1px solid $FALL;
              color: $FALL;
              font-size: rem(14px);
              padding: rem(3px);
              border-radius: rem(3px);
            }
            .spanColor {
              border: 1px solid $ORANGE;
              color: $ORANGE;
            }
          }
        }
        p {
          margin: rem(10px) 0;
          font-size: rem(14px);
          color: $GREY_FONT_COLOR;
          line-height: rem(16px);
        }
        .last {
          font-size: rem(14px);
          .lastDiv {
            color: $ORANGE;
          }
        }
      }
    }
  }
}
.columnBox{
  padding-top: rem(45px);
  background: #eaeaea;
  .list{
      .cell{
          display: flex;
          margin: rem(10px);
          background: $WHITE;
          padding: rem(6px) 0;
          border-radius: 5px;
          .left{
              width: 26%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              .imageBox{
                  width: rem(45px);
                  height: rem(45px);
                  img{
                      width: rem(45px);
                      height: rem(45px);
                      border-radius: rem(45px);
                  }
              }
              .name{
                  font-size: rem(12px);
                  color: #000;
                  margin: rem(5px) 0;
              }
              .date{
                  font-size: rem(12px);
                  color: #000;
                  // width: 60%;
                  text-align: center;
              }
          }
          .right{
              width: 74%;
              p{
                  font-size: rem(16px);
                  color: #000;
                  padding-right: rem(5px);
                  line-height: rem(20px);
              }
          }
      }
  }
}