@import './../../../css/variable.scss';

.eventBox{
    display: flex;
    flex-direction: column;
    flex: 1;
    .eventList{
        .cell{
            display: flex;
            flex-direction: column;
            padding: rem(5px) rem(10px) rem(10px);
            border-bottom: 1px solid $GREY_FONT_COLOR;
            margin: rem(10px);
            .location{
                font-size: rem(14px);
                color: $BASIC_FONT_COLOR;
            }
            .content{
                font-size: rem(16px);
                color: $BASIC_FONT_COLOR;
                margin: rem(5px) 0;
                line-height: rem(20px);
            }
            .date{
                font-size: rem(12px);
                color: $GREY_FONT_COLOR;
            }
        }
    }
    .emptyBox{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        div{
            font-size: rem(16px);
            color: $GREY_FONT_COLOR;
            text-align: center;
        }
    }
}