@import './../../../css/variable.scss';
@import './event.scss';
@import './holiday.scss';

.financeDataBox{
    padding-top: rem(45px);
    height: 100%;
    display: flex;
    flex-direction: column;
    .categoryBox{
        display: flex;
        height: rem(38px);
        .categoryButton{
            font-size: rem(16px);
            color: $BASIC_FONT_COLOR;
            display: flex;
            margin-right: rem(25px);
            margin-left: rem(10px);
            padding: rem(10px);
        }
        .active{
            border-bottom: 2px solid $FIRST_FONT_COLOR;
        }
    }
    .dateList{
        display: flex;
        padding: rem(10px) 0;
        height: rem(45px);
        li{
            display: flex;
            flex: 1;
            justify-content: center;
            div{
                color: $BASIC_FONT_COLOR;
                font-size: rem(20px);
                display: flex;
                width: rem(25px);
                height: rem(25px);
                border-radius: rem(25px);
                justify-content: center;
                align-items: center;
            }
        }
        .active{
            background: $WHITE;
            color: #000;
        }
    }
}