@import "../variable";

.trade {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    .space {
      height: rem(44px);
      width: 100%;
      // background: rgba(0, 0, 0, 0.5);
    }
    .list {
      background-color: $WHITE;
      flex: 1;
      overflow-y: auto;
      li {
        background-color: $WHITE;
        margin-bottom: rem(15px);
        &:last-child {
          margin-bottom: 0;
        }
      }
      .title {
        height: rem(45px);
        line-height: rem(45px);
        font-size: rem(14px);
        font-weight: bold;
        padding-left: rem(15px);
        color: $LIGHT_FONT_COLOR;
      }
      .group {
        padding: rem(8px);
        display: flex;
        flex-wrap: wrap;
        > div {
          width: 30%;
          // margin: rem(5px);
          // background-color: $BUTTON_BLUE;
          border: 1px solid $LIGHT_LIGHT_FONT_COLOR;
          > a {
            display: block;
            color: $LIGHT_LIGHT_FONT_COLOR;
            font-size: rem(14px);
            height: rem(30px);
            line-height: rem(30px);
            text-align: center;
          }
        }
      }
    }
  }

  .t-header {
    height: rem(44px);
    background-color: $HEADER_COLOR;
    font-size: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 rem(10px);
    .backTag {
      height: rem(44px);
      width: rem(36px);
      display: flex;
      // position: absolute;
      // left: 10px;
      .back {
        width: rem(26px);
        align-self: center;
        fill: $WHITE;
        margin-bottom: rem(2px);
      }
    }
    .rule{
      font-size: rem(14px);
      width: rem(30);
      display: flex;
      justify-content: center;
      align-items: center;
      svg{
        width: rem(30px);
        height: rem(30px);
        fill: $WHITE;
      }
    }
    .group {
      font-size: 0;
      height: rem(44px);
      display: flex;
      > div {
        align-self: center;
        justify-content: center;
        .arrowDown {
          width: rem(16px);
          height: rem(24px);
          align-self: center;
          justify-content: center;
          margin-left: rem(3px);
          fill: $WHITE;
          transform: rotate(-45deg);
        }
      }
      .cell {
        font-size: rem(16px);
        color: $FONT_COLOR;
        vertical-align: middle;
        text-align: center;
        .code {
          color: $WHITE;
          font-size: rem(12px);
        };
      }
    }
    a {
      font-size: rem(14px);
      color: $WHITE;
      align-self: center;
      float: right;
      padding-right: rem(8px);
    }
    .red {
      color: $ACTIVE_COLOR;
    }
    .iconBox {
      float: right;
      display: flex;
      > div {
        width: rem(20px);
        margin: 0 rem(5px);
        align-self: center;
        svg{
          width: rem(30px);
          fill: $WHITE;
        }
      }
    }
  }

  .quoteBar {
    height: rem(40px);
    font-size: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 rem(15px);
    > div {
      font-size: rem(15px);
      height: rem(40px);
      line-height: rem(40px);
      color: $WHITE;
      .triangle {
        @include triangle(bottom, 7px, 10px, $WHITE) {
          display: inline-block;
          vertical-align: middle;
        };
      }
    }
  }

  .chartBar {
    padding: 0 rem(5px);
    height: rem(64px);
    line-height: rem(24px);
    background: $BACKGROUND;
    > ul {
      display: flex;
      justify-content: space-around;
      height: rem(42px);
      position: relative;
      // margin-bottom: rem(20px);
      > li {
        font-size: rem(14px);
        text-align: center;
        display: flex;
        align-items: center;
        > div {
          width: rem(45px);
          height: rem(25px);
          line-height: rem(25px);
          vertical-align: middle;
          display: inline-block;
          color: $FONT_COLOR;
          // border: 1px solid $HEADER_COLOR;

          &.active {
            border-bottom: 3px solid $WHITE;
            // background: $ACTIVE_COLOR;
            // color: $WHITE;
          }
        }
        > ul {
          position: absolute;
          z-index: 10;
          border-radius: rem(5px);
          overflow: hidden;
          li {
            width: rem(65px);
            height: rem(35px);
            line-height: rem(35);
            text-align: center;
            background: #eeeeee;
          }
        }
      }
    }
    .chartInfo {
      font-size: 0;
      display: flex;
      justify-content: space-between;
      padding: rem(5px) rem(10px);
      > div {
        font-size: rem(14px);
        
        
        .left{
          margin-right: rem(10px);
        }
      }
      .price{
        display: flex;
      }
    }
    .dataWrapper{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 1;
      
      .priceBox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .svg{
          width: rem(18px);
          height: rem(32px);
        }
        .nowPrice{
          font-size: rem(18px);
          align-self: center;
          // margin-top: rem(10px);
          margin-right: rem(10px);
        }
      }
      .rate-and-percent-box{
        display: flex;
        .rate{
          font-size: rem(18px);
        }
        .percent{
          font-size: rem(18px);
        }
      }
      .hidePriceBox{
        display: none
      }

      .price{
        div{
          color: $LIGHT_FONT_COLOR;
          span{
            color: $PURPLE;
          }
        }
      }
    }
    .raise {
      color: $RAISE !important;
    }
    .fall {
      color: $FALL !important;
    }
    .raiseArrow{
      fill: $RAISE;
    }
    .fallArrow{
      fill: $FALL;
    }
  }

  .chart {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    flex: 1;
    display: flex;
    .dynamic {
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 100%;
      flex: 1;
      &.show {
        display: block;
      }
      &.hide {
        display: none;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      tr {
        display: flex;
        border-top: 1px solid $BOX_LINE;
        &:last-child {
          border-bottom: 1px solid $BOX_LINE;
        }
        td {
          &:first-child {
            border-right: 1px solid $BOX_LINE;
          }
          height: rem(37.5px);
          width: 50%;
          display: flex;
          justify-content: space-between;
          span {
            font-size: rem(15px);
            align-self: center;
            text-align: center;
            padding: 0 rem(10px);
            color: $PURPLE;
            &.raise {
              color: $RAISE;
            }
            &.fall {
              color: $FALL;
            }
          }
        }
      }
    }
    #tradingView {
      flex: 1;
      margin-top: rem(10px);
    }
  }
  .infoButton{
    display: flex;
    .favoriteAlready{
      background: $LIGHT_FONT_COLOR;
    }
    li{
      display: flex;
      flex: 1;
      padding: rem(10px);
      >div{
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        height: rem(40px);
        font-size: rem(12px);
        // border-radius: 10px;
      }
      .button{
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
        height: rem(40px);
        font-size: rem(12px);
        // border-radius: 10px;
      }
      .buttonImage{
        width: rem(12);
        margin-right: rem(5px);
        // height: rem(20px);
        fill: $FONT_COLOR;
        // .svg{
        //   fill: $WHITE;
        //   height: rem(20px);
        //   div{
        //     width: rem(20px);
        //     height: rem(20px);;
        //   }
        // }
        svg{
          height: rem(20px);
        }
      }
      .addButton{
        // background: $RAISE;
        div{
          font-size: rem(12px);
          color: $FONT_COLOR;
        }
      }
      .newsButton{
        // background: $FALL;
        
        div{
          font-size: rem(12px);
          color: $FONT_COLOR;
          
        }
      }
      .shareButton{
        // background: #6A77EF;
        div{
          font-size: rem(12px);
          color: $FONT_COLOR;
        }
      }
    }

    li:nth-child(2){
      border-left: 1px solid $LIGHT_FONT_COLOR;
        border-right: 1px solid $LIGHT_FONT_COLOR;
    }
  }
  .stateBar {
    font-size: rem(16px);
    display: flex;
    // flex: 1;
    color: $WHITE;
    height: rem(150px);
    flex-direction: column;
    .stateBar-top{
      display: flex;
      flex: 1;

      ul{
        width: 100%;
        display: flex;
        flex: 1;
        flex-direction: column;
        .cell{
          display: flex;
          flex: 1;
          .cell-left{
            display: flex;
            flex: 1;
            color: $FONT_COLOR;
            justify-content: center;
            align-items: center;
          }
          .cell-right{
            display: flex;
            flex: 2;
            color: $FONT_COLOR;
            justify-content: center;
            align-items: center;
            
            .volumeBox{
              display: flex;
              flex: 1;
              .value{
                color: $FONT_COLOR;
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
              }
              .buttonBox{
                display: flex;
                flex: 1;
                justify-content: center;
                align-items: center;
                .button{
                  width: rem(20px);
                  height: rem(20px);
                  border-radius: rem(20px);
                  background: $BOX_LINE;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: $FONT_COLOR;
                }
              }
            }
            .stopLossButton{
              color: $FONT_COLOR;
              margin-right: rem(10px);
              border: 1px solid $FONT_COLOR;
              padding: rem(5px);
            }
            .stopLossButton:first-child{
              margin-left: rem(10px);
            }
            .stopLossActive{
              background: $WHITE;
              color: $ACTIVE_COLOR;
              border: 0;
            }
          }
        }
      }
    }
    
  }

  .stopProfitTable{
    position: absolute;
    bottom: 0;
    z-index: 99;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    .titleWrapper{
      display: flex;
      flex: 1;
      height: rem(37.5px);
      div{
        display: flex;
        flex: 1;
      }
    }

    .titleWrapperFirstBackground{
      background: #264A68 ! important;
    }
    .titleWrapperSecondBackground{
      background: #173C56 ! important;
    }
  }
  .loginBar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: rem(120px);
    align-items: center;
    .loginBar-top{
      justify-content: space-around;
      display: flex;
      width: 100%;
      margin-bottom: rem(20px);
      a{
        font-size: rem(20px);
        border-radius: 4px;
        padding: rem(7px) rem(20px);
        align-self: center;
      }
      a:first-child{
        background: $ACTIVE_COLOR;
        color: $WHITE;
        margin-left: rem(5px);
        border: 1px solid $WHITE;
      }
      a:last-child{
        border: 1px solid $ACTIVE_COLOR;
        color: $ACTIVE_COLOR;
        background: $WHITE;
        margin-right: rem(5px);
      }
    }
  }
  .stateBar-bottom{
    height: rem(40px);
    display: flex;
    width: 100%;
    >div,a{
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      font-size: rem(18px);
    }
    >div:first-child,a:first-child{
      background: #FF3C80;
      >div{
        color: $WHITE;
      }
    }
    >div:nth-child(2),a:nth-child(2){
      background: #5FCC55;
      >div{
        color: $WHITE;
      }
    }

    .stateBar-bottom-position{
      background: $BLUE;
      >div{
        color: $WHITE;
      }
    }
  }
}