$BASIC_COLOR: #000000;
$DEFAULT_BACKGROUND: #232C3F;


$BASIC_FONT_COLOR: white;
$GREY_FONT_COLOR: #999999;
$DEEP_GREY_FONT_COLOR:#6e6e6f;

$RAISE: #E8373E;
$FALL: #4E9258;
$ORANGE:#E8375E;
$baseWidth: 375;
$ACTIVE_FONT_COLOR: #ffe38f;
//$BUTTON_COLOR: #caa35a;

$FOOT_COLOR: #FCDA66;
$GRAY_BACKGROUND: #f4f4f4;
$FIRST_FONT_COLOR:white;

//todo MDF public
$OTHER_COLOR: #d29022;
$HEADER_COLOR:#182535;
$BUTTON_COLOR:#de2c21;
$ACTIVE_COLOR: #182535;
$FONT_COLOR:#fff;
$LIGHT_FONT_COLOR:#7A8FAC;
$LIGHT_LIGHT_FONT_COLOR:#7A8FAC;
$BACKGROUND: #182535;
$LIGHT_GRAY_BACKGROUND: #F3F3F3;
$DARK_BACKGROUND:#1F293E;
$LIVE_CELL_BACKGROUND:#28334A;
$WHITE:#FFFFFF;
$BOX_LINE: #CBCBCB;
$LIGHT_LINE:#C3B199;
$PURPLE:#6A77EF;
$BUTTON_BLUE:#394264;
$LIGHT_PURPLE:#66688F;
$BLUE:#517DE7;
$FOOTER_BACKGROUND:#2B354B;
$LIVE_CELL_SHADOW:#264A68;
$baseWidth: 375;
$baseSize: $baseWidth/10;

@function rem($val) {
  @if unitless($val) == true {
    @return #{$val/$baseSize}rem
  } @else {
    @return #{($val / ($val * 0 + 1))/$baseSize}rem
  }
}


@mixin screen($res-max) {
  @media only screen and (max-width: #{$res-max}px), only screen and (max-device-width: #{$res-max}px) {
    html,
    body {
      font-size: #{($baseSize * ($res-max/$baseWidth))}px !important;
      min-height: 100%;
      background: $BACKGROUND;
    }
  }
}

@mixin triangle($direction,$size,$tend,$color) {
  @content;
  width: 0;
  height: 0;
  @if $direction == top {
    border-bottom: rem($tend) solid $color;
    border-left: rem($size) solid transparent;
    border-right: rem($size) solid transparent;
  } @else if $direction == right {
    border-left: rem($tend) solid $color;
    border-top: rem($size) solid transparent;
    border-bottom: rem($size) solid transparent;
  } @else if $direction == bottom {
    border-top: rem($tend) solid $color;
    border-left: rem($size) solid transparent;
    border-right: rem($size) solid transparent;
  } @else if $direction == left {
    border-right: rem($tend) solid $color;
    border-top: rem($size) solid transparent;
    border-bottom: rem($size) solid transparent;
  }
}

@mixin nav-page{
  &.come{
    left: 0;
  }
  transition: .2s all ease-out;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@mixin nav-page-bottom{
  &.come{
    top: 0;
  }
  transition: .2s all ease-out;
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: transparent;
  background-image: none;
  color: rgb(0, 0, 0);
}

.greenCard{
  background: linear-gradient(to right bottom,#03b4a4,#0ca3a3,#1988a4);
}
.redCard{
  background: linear-gradient(to right bottom,#e7704a,#d04535,#d03e35);
}
.blueCard{
  background: linear-gradient(to right bottom,#4f89b9,#426bac,#3c5ca5);
}
.pinkCard{
  background: linear-gradient(to right bottom,#fa8163,#fb726d,#fd557d);
}

//todo 提示样式
.remark{
  padding: rem(15px);
  color: #999;
  h4{
    font-size: rem(14px);
    padding: rem(5px);
    color: $ACTIVE_COLOR;
  }
  ul{
    font-size: rem(12px);
    padding: rem(4px);
    line-height: rem(15px);
    list-style: inherit;
    margin-left: rem(20px);
    li{
      padding: rem(2px);
      a{
        color: $ACTIVE_COLOR;
      }
    }
  }
}

//todo 收验证码前 图片验证码弹窗样式
.cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 100;
  .codeBox {
    width: rem(300px);
    height: rem(181px);
    position: absolute;
    top: -10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: $BACKGROUND;
    padding: 0 rem(20px);
    
    .closeButton{
      width: rem(40px);
      height: rem(40px);
      position: absolute;
      right: 0;
      top:0;
      fill: $FONT_COLOR;
    }
    > p{
      font-size: rem(16px);
      color: $FONT_COLOR;
      padding: rem(15px);
      text-align: center;
    }
    .code {
      padding: rem(10px) rem(5px);
      overflow: hidden;
      border: 1px solid $LIGHT_FONT_COLOR;
      margin: 0 rem(15px);
      border-radius: 4px;
      img {
        width: 30%;
        height: rem(30px);
        float: left;
      }
      input {
        float: left;
        width: 65%;
        outline: none;
        border: none;
        // border-bottom: 1px solid $BOX_LINE;
        font-size: rem(14px);
        padding: rem(6.5px);
        background-color: $BACKGROUND;
        color: $FONT_COLOR;
      }

    }
    .codeButton {
      // border-top: 1px solid $BOX_LINE;
      display: flex;
      div {
        flex: 1;
        text-align: center;
        font-size: rem(16px);
        width: 50%;
        margin-top: rem(20px);
        margin-left: rem(40px);
        margin-right: rem(40px);
        padding: rem(14px);
      }
      .sure {
        color: $WHITE;
        background-color: $ACTIVE_COLOR;
        border: 1px solid $WHITE;
      }
    }
  }
}

//todo 选择城市样式
.select{
  position: fixed;
  top: 0;
  left:0;
  height: 100%;;
  z-index: 100;
  width: 100%;
  background: $WHITE;
  .selectHeader{
    background: $ACTIVE_COLOR;
    padding: rem(5px) rem(10px);
    height: rem(44px);
    color: $BACKGROUND;
    .backTag{
      position: absolute;
      width: rem(40px);
      height:rem(40px);
      left: rem(11px);
      align-self: center;
      .arrow{
        fill:$BACKGROUND;
        width: rem(15px);
      }
    }
    .title{
      text-align: center;
      font-size: rem(16px);
      line-height: rem(30px);
      align-self: center;
    }
  }
  .selectMain{
    ul{
      overflow: auto;
      height: 100vh;
      li{
        padding:rem(15px) rem(10px);
        font-size: rem(14px);
        border-bottom: 1px solid $BOX_LINE;
        .arrow{
          width: rem(16px);
          height: rem(16px);
          float: right;
        }
      }
    }
  }
}

//todo 新手福利
.newWelfare{
  .mainBox{
    padding-top: rem(45px);
    position: relative;
  }
  img{
    width: 100%;
  }
  a{
    position: absolute;
    bottom: rem(45px);
    left: rem(82px);
    width: rem(220px);
    height: rem(50px);
  }
}